.profile__avatar-edit-button {
    border: none;
    background: none;
    background-image: url(../../../images/edit-button.svg);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 26px;
    box-sizing: content-box;
    /* transition: opacity 0.3s ease; */
}