.popup__delete-button {
    width: 358px;
    height: 50px;
    padding: 0;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    transition: opacity 0.3s ease;
}

.popup__delete-button:hover {
    opacity: 0.8; 
}

@media screen and (max-width: 650px) {
    .popup__delete-button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}