.footer {    
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #545454;
}

@media screen and (max-width: 542px) {
    .footer {
        font-size: 14px;
        line-height: 1.21;
    }
}