.popup__content {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  grid-area: container;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 650px) {
  .popup__content {
    max-width: 282px;
    padding: 28px 22px 25px;
  }
}
