.card__like {
    min-width: 22px;
    height: 19px;
    padding: 0;
    border: none;
    background: none;
    background-image: url(../../../images/like.svg);
    background-size: 22px 19px;
    background-repeat: no-repeat;
    background-position: center right;
    transition: opacity 0.3s ease;
}

.card__like:hover {
    opacity: 0.5;
}