.page__header {
    max-width: 880px;
    width: 100%;
    box-sizing: border-box;
    min-height: 74px;
    margin: 45px auto 0;
}

@media screen and (max-width: 980px) {
    .page__header {
        max-width: 980px;
        margin: 45px 0 0;
        padding: 0 50px;
    }
}

@media screen and (max-width: 542px) {
    .page__header {
        min-height: 56px;
        margin: 28px 0 0;
        padding: 0 27px;
    }
}