.popup__container_type_image {
    grid-template-columns: 1fr 32px;
    grid-template-rows: 32px 1fr 17px;
    grid-template-areas:
        ". close-button"
        "image ."
        "title .";
    gap: 10px; 
}




@media screen and (max-width: 650px) {
.popup__container_type_image {
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 17px;
    grid-template-areas:
        "close-button"
        "image"
        "title";
    }
}