.content {
    max-width: 880px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}

@media screen and (max-width: 980px) {
    .content {
        max-width: 980px;
        margin: 0;
        padding: 0 50px;
    }
}

@media screen and (max-width: 542px) {
    .content {
        padding: 0 19px;
    }
}